pyTelegramBotAPI
pyotp
pyTelegramBotAPI
groq
requests
pyTelegramBotAPI
groq
gTTS
pyTelegramBotAPI
groq
gTTS
requests
pyTelegramBotAPI
groq
gTTS
requests
instaloader
pyotp
python-telegram-bot
requests
pyTelegramBotAPI
pymongo[srv]
dnspython
pyTelegramBotAPI
pymongo[srv]
dnspython

